---
layout: default
title: loren.io
---

<h1>.projects</h1>
<p>Projects, especially game related ones, are a huge part of what I like to do with my time. Below is a list of school, game jam, and other personal projects I've done over the years. Most are <abbr title="abandoned">"done"</abbr> but are still things I am proud to have experienced making.</p>
<hr/>

{% include projlist.html subcategory="personal" %}
<hr/>
{% include projlist.html subcategory="gamejam" %}
<hr/>
{% include projlist.html subcategory="school" %}