---
layout: default
title: loren.io
---

<div class="home">

  <!-- intro -->
  <h1>loren.hoffman</h1>
  <p>I am a software developer with a background in <strong>game</strong> and <strong>graphic</strong> systems development.</p>
  <p>Permanently interested in technology and its development, programming is the channel for my passion of <strong>making</strong>. It is the itch that cannot be scratched. I pursued games for the tangible feedback given by their development however having been involved in the development of <strong>tools</strong>, <strong>servers</strong>, and other <strong>systems</strong>, I have found no lack of interest with which to channel my <strong>creativity</strong>.</p>
  <p>I am currently located in <strong>Seattle, WA</strong>.</p>
  <hr/>

  <!-- projects -->
  <div class="listing">
    <h2 class="muted">.news</h2>
    {% for post in site.posts %}
      {% if post.categories contains "writing" or post.categories contains "news" %}
        <h4>{{ post.title }} :: {{ post.date | date_to_string }}</h4>
        <p>{{ post.excerpt }} <a href="{{ post.url | prepend: site.baseurl }}">More</a></p>
      {% endif %}
    {% endfor %}
  </div> 

  <!-- TODO: Put the RSS link in the header -->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
